# -----------------------
# Python virtual env
# -----------------------
venv/
.env/

# -----------------------
# Python cache files
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------
# Playwright stuff
# -----------------------
playwright/.cache/
*.har

# -----------------------
# VS Code settings
# -----------------------
.vscode/

# -----------------------
# macOS junk
# -----------------------
.DS_Store

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# FastAPI / Uvicorn
# -----------------------
*.sqlite3
